.leaflet-container {  /* all maps */
width:  50%;
height: 50%;
margin-left: 25%;
}

.login-form {
    background-color: #f7f7f7;
    padding: 50px 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}