{% extends 'base.html' %}
{% load static %}
{% block title %}Michelin Restaurants{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-md- text-center">
        <div id="map" class="mt-5 mb-4" style="height: 500px"></div>
        <p id="mapDescription">
          This map shows the locations of all one-star Michelin restaurants
          around the world.<br />
          Michel Star restaurants are awarded to restaurants that serve
          exceptional food, and are a symbol of fine dining quality.
        </p>
      </div>
    </div>
    {% endblock %}
    <!-- JavaScript to Handle Map and User Locations -->
    {% block additional_scripts %}
    <script>
      // Initialize the map
      var map = L.map('map', { doubleClickZoom: false }).setView([53.349805, -7.261649], 6); // Center of Ireland with a zoom level of 6

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      // Function to handle marker click and display weather information
      function onMarkerClick(e) {
          var marker = e.target;
          var latitude = marker.getLatLng().lat;
          var longitude = marker.getLatLng().lng;

          // Fetch weather data using the OpenWeatherMap API
          fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=375c9e18454382c33fdb0c94fb81b283&units=metric`)
              .then(response => response.json())
              .then(weatherData => {
                  // Extract relevant weather information
                  var temperature = weatherData.main.temp;
                  var description = weatherData.weather[0].description;

                  // Update the weatherInfo element in the popup
                  var weatherInfoElement = document.getElementById('weatherInfo');
                  weatherInfoElement.innerHTML = `
                      <p>Temperature: ${temperature}°C</p>
                      <p>Weather: ${description}</p>
                  `;
              })
              .catch(error => {
                  console.error('Error fetching weather data:', error);
                  var weatherInfoElement = document.getElementById('weatherInfo');
                  weatherInfoElement.innerHTML = '<p>Weather data not available.</p>';
              });

          // Open the popup
          marker.openPopup();
      }

      // Function to reload locations from the database
      function onLocationFound(e) {
          var radius = e.accuracy;
          var latitude = e.latlng.lat;
          var longitude = e.latlng.lng;
          L.marker(e.latlng).addTo(map)
              .bindPopup("Location Found at:\n\nLatitude: " + latitude + ", Longitude: " + longitude).openPopup();
          L.circle(e.latlng, radius).addTo(map);
      }

      // Location found event listener
      map.on('locationfound', onLocationFound);

      // Function to close the side drawer
      function closeSideDrawer() {
          var offcanvasElement = document.getElementById("offcanvasDrawer");
          var offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvasElement);
          offcanvasInstance.hide();
      }

      //variable to store the open popup
      let openPopup = null;

      // Function to show user location on the map
      function showUserLocation(location, userName) {
          if (!location) return;
          let [latitude, longitude] = location;

          //close the previously opened popup
          if (openPopup) {
              openPopup.closePopup();
          }

          //add the new user marker and open its popup
          let userMarker = L.marker([latitude, longitude]).addTo(map);
          map.setView([latitude, longitude], 10); // Set the map view to the user's location
          openPopup = userMarker.bindPopup(`${userName}'s Location`).openPopup(); // Display user's name in popup
      }

      //code to handle restaurant markers
      var m_restaurants = [
          {% for restaurant in michelin_restaurants %}
          {
              "latitude": {{ restaurant.latitude }},
              "longitude": {{ restaurant.longitude }},
              "name": "{{ restaurant.name|escapejs }}",
              "cuisine": "{{ restaurant.cuisine|escapejs }}",
              "price": "{{ restaurant.price|escapejs }}",
              "url": "{{ restaurant.url|escapejs }}",
          }{% if not forloop.last %},{% endif %}
          {% endfor %}
      ];

      //add markers for all restaurants
      m_restaurants.forEach(function (data) {
          var popupContent = `
              <h3>${data.name}</h3>
              <p>Cuisine: ${data.cuisine}<br>
              Price Range: ${data.price}<br>
              <a href="${data.url}" target="_blank">Visit Website</a></p>

              <div id="weatherInfo">
                  <p>Loading weather information...</p>
              </div>
          `;
          var marker = L.marker([data.latitude, data.longitude]).addTo(map).bindPopup(popupContent); // Add a marker for each restaurant

          // Add a click event listener to each marker
          marker.on('click', onMarkerClick);
      });

      //function to search restaurants and update the map
      function searchRestaurants() {
          let searchTerm = document.getElementById('searchInput').value.toLowerCase();
          let searchedRestaurants = m_restaurants.filter(restaurant =>
              restaurant.name?.toLowerCase().includes(searchTerm)
          );

          //add markers for searched restaurants
          searchedRestaurants.forEach(data => {
              var popupContent = `
                  <h3>${data.name}</h3>
                  <p>Cuisine: ${data.cuisine}<br>
                  City: ${data.city}<br>
                  Price Range: ${data.price}<br>
                  <a href="${data.url}" target="_blank">Visit Website</a></p>
              `;
              L.marker([data.latitude, data.longitude]).addTo(map).bindPopup(popupContent); // Add a marker for each restaurant
          });

          // If there are results, pan to the first result
          if (searchedRestaurants.length > 0) {
              map.setView([searchedRestaurants[0].latitude, searchedRestaurants[0].longitude], 13);
          } else {
              alert('No restaurants found.');
          }
      }

      // Event listener for the search button
      document.getElementById('searchButton').addEventListener('click', function() {
          searchRestaurants();
          closeSideDrawer(); // Close the side drawer after search
      });

       //event listener for the 'Show User Locations' button 
      document.getElementById('showUsersButton').addEventListener('click', function() {
          fetchUsersAndPopModal();
          $('#userListModal').modal('show');  // Using jQuery to show the modal
          closeSideDrawer();
      });

       // Get Current Location button click event
      document.getElementById('getLocationButton').addEventListener('click', function () {
          map.locate({ setView: true, maxZoom: 30 });
          closeSideDrawer();
      });

    </script>
    {% endblock %}
  </body>
</html>
