<!-- user_list.html -->
{% extends 'base.html' %}
<!-- Make sure you extend from a base template if you have one -->

{% block content %}
<h2>User List</h2>
<ul>
  {% for user_profile in users %}
  <li>
    <a href="{% url 'user_detail' user_profile.username %}"
      >{{ user_profile.user.username }}</a
    >
    <!-- Assume you have a URL named 'user_detail' that takes a username and shows the user's location -->
  </li>
  {% empty %}
  <li>No users found.</li>
  {% endfor %}
</ul>
{% endblock %}
